.jumbotron{
  text-align: center;
  background-color: rgb(49, 49, 48);
  color: black;
}
#ds9{
  float: center;
  width: 100vh;
  
}
#quark{
  
  margin-top: 10px;

}
body{
  background-color: black;
  color: white
}
#pizza-form{
  color:white;
}
.selector{
  color: black;
}
button{
  color: black;
}


/* * {
  border: solid red;
} */
